doctype html
<html>
head(lang='en')
  //META
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1 maximum-scale=1, user-scalable=no')
  meta(name='apple-mobile-web-app-status-bar-style', content='black')
  meta(name='apple-mobile-web-app-capable', content='yes')
  meta(name='description')
  - title = "{$_FANWE['title']}"
  title= title

  - var production = true
  if production
    :php
      $current_css[]  = './tpl/hi1626/v2/css/vendor/normalize.css';
      $current_css[]  = './tpl/hi1626/v2/css/global.css';
      $current_css[]  = './tpl/hi1626/v2/css/global_header.css';
      $current_css[]  = './tpl/hi1626/v2/css/global_footer.css';
      $current_css[]  = './tpl/hi1626/v2/css/myspace.css';
      $current_css[]  = './tpl/hi1626/v2/css/homepage.css';

    link(rel="stylesheet", type="text/css", href="{css $current_css}", media="all")
    link(rel="icon", href="{$_FANWE['site_root']}favicon.ico", type="image/x-icon")
    script(type='text/javascript').
      var SITE_PATH = '$_FANWE[site_root]';
      var SITE_URL = '$_FANWE[site_url]';
      var TPL_PATH = '{TPL_PATH}';
      var PUBLIC_PATH = '{PUBLIC_PATH}';
      var MODULE_NAME = '{MODULE_NAME}';
      var ACTION_NAME = '{ACTION_NAME}';
      var COOKIE_PRE = "$_FANWE['config']['cookie']['cookie_pre']";
      var TPL_NAME = '$_FANWE["setting"]["site_tmpl"]';
      var IS_POSTING = false;

  else
    - var asset_path = '..'
    link(rel="stylesheet", type="text/css", href="#{asset_path}/css/vendor/normalize.css", media="all")
    link(rel="stylesheet", type="text/css", href="#{asset_path}/css/global.css", media="all")
    link(rel="stylesheet", type="text/css", href="#{asset_path}/css/global_header.css", media="all")
    link(rel="stylesheet", type="text/css", href="#{asset_path}/css/global_footer.css", media="all")
    link(rel="stylesheet", type="text/css", href="#{asset_path}/css/myspace.css", media="all")
    link(rel="stylesheet", type="text/css", href="#{asset_path}/css/homepage.css", media="all")
    - var image_path = '../images'
<body>