section.headlines
  .section__header
    h2.section__title 潮流进行时
    .section__nav
      ul
        li.hot
          a(href='') 潮人
        li
          a 潮鞋

  .headlines__wrap
    .headlines__grid
      - var test_img = 'xxx.jpg'
      ul.news-blocks
        li.block-0
          a(href="{$ad_popup_left['url']}", onclick="addclick({$ad_popup_left['id']},{$ad_popup_left['position_id']})")
            -var b0_img = "{$ad_popup_left['code']}"
            article.image(style='background-image:url(#{b0_img})')
              img.phantom(src='#{b0_img}',alt="{$ad_popup_left['name']}",data-img='#{b0_img}')
            article.info
              span.info__content
                b.tag.exclusive 独家
                h3 {$ad_popup_left['name']}
                //p.date 2016年2月22日

        //{loop $ad_popup_right $k $v}
        -var block_class = "block-{$k}"
        li(class="#{block_class}")
          a(href="{$v['url']}", onclick="addclick({$v['id']},{$v['position_id']})")
            -var b_img = "{$v['code']}"
            article.image(style='background-image:url(#{b_img})')
              img.phantom(src='#{b_img}',alt="{$v['name']}",data-img='#{b_img}')
            article.info
              span.info__content
                b.tag.exclusive 独家
                h3 {$v['name']}
        //{/loop}

    .headlines__list
      .nano
        ul.news-blocks.nano-content
          //{loop $news $k $v}
          li
            a(href="{$v['url']}",onclick="addclick({$v['id']},{$v['position_id']})",target="_blank")
              -var thumb = "{$v['thumb']}"
              article.image(style='background-image:url(#{thumb})')
                img.phantom(src='#{thumb}',alt="{$v['title']}")
              article.info
                span.info__content
                  b.tag {$v['cate_name']}
                  h3 {$v['title']}
                  p.desc {$v['description']}
          //{/loop}