section.instruction
  h4 抽取[邀请码]规则说明：
  ul
    li
      p 1. 每个微信用户每天获得3次基本抽奖机会。
    li
      p 2. 分享互动可邀请好友帮助增加抽奖机会，同一好友每天仅可帮助增加1次机会，好友越多，抽奖机会越多。
    li
      p 3. 抽奖机会需在当天用完，不可累积到明天。
    li
      p 4. 抽中邀请码的用户需在15分钟内提交本人资料，超时提交或关闭页面，邀请码将失效。
    li
      p 5. 每人最多仅可获得1个邀请码。
    li
      p 6. 本次活动仅限于北京、上海。

  h4 网上活动规则
  ul
    li
      p 1. 关注【CatalogCN】官方微信及【city1626】官方微信。
      .qr
        img(src='#{image_path}/qr-catalog.jpg')
        img(src='#{image_path}/qr-1626.jpg')
      span 长按识别图中二维码
    li
      img(src='#{image_path}/catalog-schedule.png')
    li
      p 2. 3月22日-3月24日：参与活动抽取CATALOG［邀请码］，北京、上海各派出50个，合计100个。
    li
      p 3. 3月25日：获得［邀请码］的100名粉丝（北京、上海各50人）将在当天15:00时前接到CATALOG官方发出的确认电邮；当天，CATALOG官方微信及1626官方微信也将公布最终获得［邀请码］的粉丝名单（北京、上海各50人）；如粉丝未在15：00时前收到邮件，请与CATALOG官方微信留言联系。
    li
      p 4. 3月26日：粉丝凭［邀请码］、确认电邮、及身份证至CATALOG指定店铺（北京三里屯店、上海环贸广场店）进行身份核对，进行抽签购买。

  h4 发售规则
  ul
    li
      p 1. 抽签在2016年3月26日以下时间进行，请按以下时间抵达店铺，逾时不候；并向店员出示邀请码、确认电邮以及身份证做核实。
    li
      p 北京三里屯店：上午11：30分前抵达排队，12：00时整开始抽签；
      img(src='#{image_path}/catalog-map-01.png')
    li
      br
      br
      p 上海环贸广场店：上午10：00时开始排队，11：00时整开始抽签；
      img(src='#{image_path}/catalog-map-02.png')
    li
      p 2. 到达CATALOG门店的粉丝按照现场指引进行排队抽签，如遇获得邀请码粉丝缺席，则从实际到达现场并核实身份的粉丝中抽取，不会额外增加现场抽签名额。
    li
      p 3. 如遇到中签粉丝现场放弃购买，则增加相应抽签机会,放弃号牌的粉丝不可再参与抽签，中签粉丝每人仅限购买一双。
    li
      p
        b 北京三里屯CATALOG店铺地址及电话：
      p
        |朝阳区三里屯太古里北区地下1层NLG-00号
        br
        |010-64162108
      img(src='#{image_path}/catalog-map-03.png')
    li
      p
        b 上海环贸广场CATALOG店铺地址及电话：
      p
        |徐汇区淮海中路999号上海环贸广场4层421-422号
        br
        |021-54667563
      img(src='#{image_path}/catalog-map-04.png')

  h4 请您在前往抽签活动前仔细阅读并理解本注意事项：
  ul
    li
      p 1. 为开展此次抽签购买活动，本公司需收集您的相关个人信息用于获得［邀请码］资格的确认。
    li
      p 2. 如您参与抽取［邀请码］互动并提供相关个人信息的，将视为您已同意并接受活动规则。
    li
      p 3. 本公司将尊重您的隐私权，未经您的事先同意，不会在此服务目的以外披露或使用您的个人信息。
    li
      p 4. 中签者所提供的资料必需准确无误，3月26日抽签会以登记资料以做核实，必须是本人出席，转让他人视为无效。如因资料有误而未能购买产品，本公司恕不负责。
    li
      p 5. 3月26日当天请客人在现场自觉维持良好秩序并按顺序排队，如有恶意插队、违规操作、倒卖破坏其他客人公平秩序者，将不被授予参与中签、购买资格。
    li
      p 6. 如3月26日当天现场有客人故意扰乱秩序以致使发售不能正常进行，我司有权视情况决定是否取消发售或延期发售。
    li
      p 7. 中签客人每人仅限购买一双。
    li
      p 8. 此次售卖限量鞋款以吊牌价出售，恕不与任何店铺、VIP折扣、代金券、银行卡活动共同使用。
    li
      p 9. 该鞋款为限量款，故除质量问题，不退不换。

  a.close
    i.icon.icon-close