section.intro
  a.button.my-code #{text_16}
  article.title
    img(src='#{image_path}/title-1.png')
    img.flash(src='#{image_path}/title-2-bg.png')
    img(src='#{image_path}/title-3.png')
  article.shoe
    img(src='#{image_path}/nmd-shoe.png')
  article.desc
    |#{text_17}
    br
    |#{text_18}
  article.select-city
    p #{text_1}
    .cities
      a.beijing.touchable
        img(src='#{image_path}/city-bj.png')
      a.shanghai.touchable
        img(src='#{image_path}/city-sh.png')
  article.instruction
    a #{text_4}
    //p #{text_5}