section.draw
  article.result
    h3 #{text_42}
    p
      |#{text_7}
      br
      |#{text_19}
  article.scratch
    .scratch-result
      .success(style='display:none')
        img(src='#{image_path}/draw-success.jpg')
        span 08
      .fail(style='display:none')
        img(src='#{image_path}/draw-fail.jpg')
    img.scratch-cover(src='#{image_path}/draw-cover.jpg')