section.popup(style='display:none')
  .wrap
    .content
      img.shoe(src='#{image_path}/nmd-shoe.png')
      img.hand(src='#{image_path}/hand-arrow.png')
      .text
        .text--share(style='display:none')
          h1 #{text_37}
          p #{text_38}
        .text--ask(style='display:none')
          h1 #{text_39}
          p #{text_40}
    button.close #{text_41}