section.result(style='display:none;')
  article.explanations
    ul
      li.passionfruit(style='display:none;')
        h3 绝对百香果
        p 芳香浓郁，热情四射，百香果浓郁的香味搭配酒香，多层次的口感变幻，活力四射的你让人充满好奇。
      li.ice-tea(style='display:none;')
        h3 绝对冰红茶
        p 被称为暗藏杀机的调饮！将红茶深沉的色泽和幽邃的口感，与伏特加的细腻性格相结合，增添了别具一格的风味。茶与酒的结合，你就是那平淡生活中的不平凡。
      li.lemon(style='display:none;')
        h3 绝对柠檬
        p 看似澄清晶莹的鸡尾酒，闻着清新的柠檬香，入口酸爽的柠檬味，品尝一杯鸡尾带来的感官盛宴。
      li.coke(style='display:none;')
        h3 绝对可乐
        p 喝一口绝对可乐，随着汽泡在杯子里的舞动，舌尖的快乐蔓延到全身。清爽的口感，细腻的品尝其中可乐的微甜，最受大众喜欢的鸡尾之一。
      li.cranberry(style='display:none;')
        h3 绝对蔓越莓
        p 酸酸甜甜，清新爽口，就是是夏日里动情迷人的小野猫。
      li.hawthorn(style='display:none;')
        h3 绝对山楂
        p 无色无味的伏特加遇上山楂汁，原汁原味的保留了山楂的酸，像是在黑暗中观望舞池里最性感的美女，神秘莫测，无限挑战你的味蕾。

   
  article.cocktail
    img(src='#{image_path}/cocktail--passionfruit.png',style='display:none;')
    img(src='#{image_path}/cocktail--ice-tea.png',style='display:none;')
    img(src='#{image_path}/cocktail--lemon.png',style='display:none;')
    img(src='#{image_path}/cocktail--coke.png',style='display:none;')
    img(src='#{image_path}/cocktail--cranberry.png',style='display:none;')
    img(src='#{image_path}/cocktail--hawthorn.png',style='display:none;')

  a.button.next.touchable
    img(src='#{image_path}/next.png')