- var production = false
- var act_name = 'absolut'
if production
  - var image_path  = './tpl/hi1626/images/act/absolut/'
else
  - var local_file_path = '../..'
  - var image_path  = local_file_path +'/img/act/absolut'
<!DOCTYPE html>
<html>
head(lang="en")
  meta(charset="UTF-8")
  meta(name='viewport', content='width=device-width user-scalable=no maximum-scale=1')
  meta(name="keywords", content="{$seo_keyword}")
  meta(name="description", content="{$seo_description")
  meta(name='apple-mobile-web-app-status-bar-style', content='black')
  meta(name='apple-mobile-web-app-capable', content='yes')
  title 一份绝对，五份软饮
  if production
    :php
      $current_css[]  = './tpl/hi1626/v2/css/vendor/normalize.css';
      $current_css[]  = './tpl/hi1626/v2/css/global.css';
      $current_css[]  = './tpl/hi1626/css/act/absolut/absolut.css';
    link(rel="stylesheet", href="{css $current_css}" media="all")
    script(type='text/javascript').
      var SITE_URL        = '$_FANWE[site_url]';

  else
    //- 本地调试用
    link(rel="stylesheet", href="#{local_file_path}/v2/css/vendor/normalize.css", media="all")
    link(rel="stylesheet", href="#{local_file_path}/v2/css/global.css", media="all")
    link(rel="stylesheet", href="#{local_file_path}/css/act/#{act_name}/#{act_name}.css", media="all")