-var production = false
if production
  - var image_path  = './tpl/hi1626/images/starwars/'
else
  - var local_file_path = '../..'
  - var image_path  = local_file_path +'/images/starwars/'
- var top_link = ''

<!DOCTYPE html>
html
  head(lang="en")
    meta(charset="UTF-8")
    meta(name='viewport', content='width=device-width user-scalable=no maximum-scale=1')
    meta(name="keywords" content="{$seo_keyword}")
    meta(name="description" content="{$seo_description")
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    meta(name='apple-mobile-web-app-capable', content='yes')
    -title = "{$seo_title}"
    title= title

    if production
      :php
        $current_css[]  = './tpl/hi1626/v2/css/vendor/normalize.css';
        $current_css[]  = './tpl/hi1626/v2/css/global.css';
        $current_css[]  = './tpl/hi1626/v2/css/form_publish.css';
        $current_css[] = './tpl/hi1626/css/starwars/starwars.css';
        $current_js[] = './public/js/jquery-1.11.3.min.js';
        $current_js[] = './public/js/jquery.touchSwipe.min.js';
        $current_js[] = './tpl/hi1626/js/starwars/starwars.js'

      link(rel="stylesheet", href="{css $current_css}" media="all")
    else
      //本地调试用
      link(rel="stylesheet", href="../../v2/css/vendor/normalize.css" media="all")
      link(rel="stylesheet", href="../../v2/css/global.css" media="all")
      link(rel="stylesheet", href="../../v2/css/form_publish.css" media="all")
      link(rel="stylesheet", href="../../css/starwars/starwars.min.css" media="all")
      script(src="../../js/jquery-1.11.3.min.js")
      script(src="../../js/jquery.touchSwipe.min.js")
      script(src="../../js/starwars/starwars.js")

  body
    .wapper
      .eye.eye_top
      .eye.eye_bottom
      .outside.view#outside
        .store
          img.nlogo(src=image_path + 'logo-16N.png',alt='')
        .enter
          //h3.nexstep(s='-1') PRESENT
          h3 PRESENT

      .entrance.view#entrance
        include ./source/jade/top_logo.jade
        span.copyright © & ™ Lucasfilm Ltd.
        .enter.nexstep(s='0')
          img(src=image_path + 'entrance.gif',alt='')
        include ./source/jade/16eme.jade

      .start.view#startquestion
        .info_text
          div.out
            div.in
              //|终于等到你了
              //br
              //|绝地
              //br
              //|这里,7个问题
              //br
              //|要尽可能回答正确
              //br
              //|才能觉醒原力
              //br
              //|当然
              //br
              //|最后你会获得奖励的
              //br
              //|马上开始吧
              img(src=image_path + 'info_text.png',alt='')
        .bottom_mask
        .go_question.nexstep(s='1')
          .go_buttons
            .go_left
              img(src=image_path + 'go_arrow.png',alt='')
            .go_button
              img(src=image_path + 'go_button.png',alt='')
            .go_right
              img(src=image_path + 'go_arrow.png',alt='')
        .top_mask
        include ./source/jade/top_logo.jade
        include ./source/jade/16eme.jade

      .questions.view#questions
        include ./source/jade/top_logo.jade
        .question_index
          .index_buttons
            .index_left
              img(src=image_path + 'question_arrow.png',alt='')
            .question_no
              span
            .index_right
              img(src=image_path + 'question_arrow.png',alt='')
        .question_content
          span
        .question_answer
          .answer1.select_answer(a=1)
            span
          .answer2.select_answer(a=2)
            span
        include ./source/jade/16eme.jade
      .help.view#help
        include ./source/jade/top_logo.jade
        include ./source/jade/16eme.jade
        .help_title
          span 有时候,你需要一些协助
        .help_img
          img(src="" alt="")
        .help_description
          span 16
          label ÈME
          span N
          label ORD
          span 潮流服装
          br
          span 有下一题的答案
        .next_question.nexstep(s='1')
          .next_buttons
            .next_left
              img(src=image_path + 'go_arrow.png',alt='')
            .next_button
              img(src=image_path + 'next_button.png',alt='')
            .next_right
              img(src=image_path + 'go_arrow.png',alt='')
      .result.view#result
        include ./source/jade/top_logo.jade
        include ./source/jade/16eme.jade
        .first_complete
          .light_sword_container
            .light_sword
              .light_body
              img(src=image_path + 'light_sword.png',alt='')
          .text.complete_description
            span.d1 成功觉醒原力
            br
            span.d2 恭喜你,拿起激光剑去战斗吧!
          .text.user_information
            span 别忘了留下你的信息
            br
            span 16
            label ÈME
            span N
            label ORD
            span 将抽出幸运者
          .user_form
            .input_container.mobile_box
              input.mobile#mobile(value='电话号码')
            .input_container.name_box
              input.name#name(value='姓名')
            .submit_button
              span 确认提交
        .result_action
          .result_action_buttons
            .result_action_left
              img(src=image_path + 'go_arrow.png',alt='')
            .action_buttons
              .show_prize
                span 查看奖品
              .share_now
                span 马上分享
            .result_action_right
              img(src=image_path + 'go_arrow.png',alt='')
      .prize.view#prize
        include ./source/jade/top_logo.jade
        include ./source/jade/16eme.jade
        .hide_prize
          span.icon.icon-cross
        .prize_text.title
          span 奖品由潮牌
          span 16
          label ÈME
          span N
          label ORD
          span 提供
        .prize_index.index1
          .index_buttons
            .index_left
              img(src=image_path + 'question_arrow.png',alt='')
            .question_no
              span 奖品1
            .index_right
              img(src=image_path + 'question_arrow.png',alt='')
        .prize_container.container1
          .prize_branch
          .prize_name
            div
              span 星战特别版卫衣
          .prizes.prizes1
            .prize_item
            .prize_item
            .prize_item
            .prize_count.count1
              span 1件
            .prize_count.count2
              span 1件
            .prize_count.count3
              span 1件
        .prize_text.description1
          span 将从参与者中抽取3位幸运儿,将于2月25日公布获奖名单并有专人与中奖者联系!
        .prize_index.index2
          .index_buttons
            .index_left
              img(src=image_path + 'question_arrow.png',alt='')
            .question_no
              span 奖品2
            .index_right
              img(src=image_path + 'question_arrow.png',alt='')
        .prize_container.container2
          .prize_branch
          .prize_name
            //span 16
            //label ÈME
            //span N
            //label ORD
            div
              span 16N天猫旗舰店无门槛优惠券
          .prizes.prizes2
            .prize_item
            .prize_item
            .prize_item
        .prize_text.description2
          span 互动参与者按照答题正确数并留下联系方式即可获得


    //<!--{if $is_wx}-->
    //<!--{template inc/weixin_share}-->
    //<!--{/if}-->
    //<!--{template inc/count}-->
    if production
      script(src="{script $current_js}")
    script.
      $(document).ready(function () {
        init();
      });