- var production = true
if production
  - var image_path = '{$_FANWE[site_url]}/tpl/hi1626/v2/images'
else
  include ../public_inc/source/jade/head.jade
  - var image_path  = local_file_path+'/images/'
footer.global-footer
  .footer__mag
    .center-wrap.clear
      .mag-display
        .mag-cover
          img
        //.mag-subtitle
        //  img(src='#{image_path}/temp_footer-mag-text.jpg')
      .mag-buy
        span
          strong 261
          |期现已上市
        a.button.orange.large 立即购买
  .footer__main
    .center-wrap.clear
      a.footer__logo(href='http://www.1626.com',target='_blank')
        img(src='#{image_path}/logo-1626-white.svg')
      .footer_contact
        img.footer_lookout(src="#{image_path}/text-nav-mobile-popup-white.png", alt="wechat")
        label (点击或扫一扫)
        .footer_icons
          .qrcode_app
            a(href='http://www.1626.com/downloads/andriod')
              //img.footer_qrcode(src='#{image_path}/qr-app.jpg')
              .icon_app
                i.icon.icon-1626app
              span APP下载
          .qrcode_wechat
            a
              .icon_wechat
                i.icon.icon-wechat
              span 微信公众号
          img.show_out.wechat_qrcode(src='#{image_path}/qr-wechat.jpg')
          .qrcode_weibo
            a(href='http://weibo.com/city1626?is_all=1')
              //img.footer_qrcode(src='#{image_path}/qr-weibo.jpg')
              .icon_weibo
                i.icon.icon-weibo
              span 新浪微博
      ul.site-links
        li.links_help
          h4 帮助中心
          .links
            a(href="/about/help.html", target="_blank") 发布指引
            a(href="/about/help.html", target="_blank") 订单帮助
            a(href="/about/help.html", target="_blank") 帮助中心
        li.links_about
          h4 关于我们
          .links
            a(href="/about/introduce.html", target="_blank") 关于我们
            a(href="/about/contact.html", target="_blank") 联系我们
            a(href="http://www.lagou.com/gongsi/12417.html", target="_blank") 加入1626
        li.links_weibo
          h4 关注1626
          .links
            a(href='http://weibo.com/city1626',target='_blank') 官方微博
            a APP下载
        li.links_wechat
          h4 微信公众号
          img(src='#{image_path}/footer-wechat-qr.jpg')
      .footer__sml-text-wrap
        if production
          //{if $_FANWE['module_name'] == 'Index'}
        p.footer__sml-text.friend-links
        if production
          //{/if}
        p.footer__sml-text.clear
          span
            |备案号：
            a(target="_blank" href="http://www.miibeian.gov.cn/") 粤ICP备11022094号-1
          span.footer_copyright
            |© 2014 广东亿启数码科技有限公司 1626.com 版权所有

div(style='display:none')
  script(src="{$_FANWE['site_url']}stat.php")

if production
  script.
    $(document).ready(function () {
      var friend_links_data = "{$friendlinks_json}";
      init_global_footer(friend_links_data);
      initFollowBtn();
    });
else
  script.
    $(document).ready(function () {
      var friend_links_data = '[{"id":"5","name":"\u6d77\u62a5\u65f6\u5c1a\u7f51","url":"http:\/\/www.haibao.com\/","sort":"1"},{"id":"6","name":"o2o\u540d\u54c1\u5bfc\u8d2d\u5708","url":"http:\/\/q.chinasspp.com\/","sort":"2"},{"id":"8","name":"\u7f51\u6613\u5973\u4eba","url":"http:\/\/lady.163.com\/","sort":"3"},{"id":"9","name":"\u65b0\u6d6a\u5973\u6027","url":"http:\/\/eladies.sina.com.cn\/","sort":"4"},{"id":"10","name":"\u7231\u7f8e\u7f51","url":"http:\/\/www.lady8844.com\/","sort":"5"},{"id":"11","name":"\u5217\u8868\u7f51","url":"http:\/\/www.liebiao.com\/","sort":"6"},{"id":"12","name":"\u9b45\u7f51\u5973\u6027","url":"http:\/\/www.meyol.com\/ ","sort":"7"}]';
      init_global_footer(friend_links_data);
      initFollowBtn();
    });
  </body>