// 首页的<head>
doctype html
<html>
head(lang='en')
  //META
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1 maximum-scale=1, user-scalable=no')
  meta(name='apple-mobile-web-app-status-bar-style', content='black')
  meta(name='apple-mobile-web-app-capable', content='yes')
  meta(name='description')
  - title = "{$_FANWE['title']}"
  title= title
  - var production = true
  if production
    include ../../public_inc/source/jade/scripts.jade
    :php
      $current_css[]  = './tpl/hi1626/v2/css/myspace.css';
      $current_css[]  = './tpl/hi1626/v2/css/homepage.css';
    link(rel="stylesheet", type="text/css", href="{css $current_css}", media="all")
    link(rel="icon", href="{$_FANWE['site_root']}favicon.ico", type="image/x-icon")
    script(src="{script $current_js}")
    script(type='text/javascript').
      var SITE_PATH = '$_FANWE[site_root]';
      var SITE_URL = '$_FANWE[site_url]';
      var MODULE_NAME = '{MODULE_NAME}';
      var ACTION_NAME = '{ACTION_NAME}';
      var COOKIE_PRE = "$_FANWE['config']['cookie']['cookie_pre']";
      var TPL_NAME = '$_FANWE["setting"]["site_tmpl"]';
      var IS_POSTING = false;
  else
    - var asset_path = '..'
    link(rel="stylesheet", type="text/css", href="#{asset_path}/css/vendor/normalize.css", media="all")
    link(rel="stylesheet", type="text/css", href="#{asset_path}/css/global.css", media="all")
    link(rel="stylesheet", type="text/css", href="#{asset_path}/css/global_header.css", media="all")
    link(rel="stylesheet", type="text/css", href="#{asset_path}/css/global_footer.css", media="all")
    link(rel="stylesheet", type="text/css", href="#{asset_path}/css/myspace.css", media="all")
    link(rel="stylesheet", type="text/css", href="#{asset_path}/css/homepage.css", media="all")
    - var image_path = '../images'
<body>

// 全局页头
//{template v2/views/public/global_header}

#homepage-wrap

  include source/jade/includes/section__slideshow.jade

  .center-wrap
    include source/jade/includes/section__headlines.jade

    include source/jade/includes/section__ad.jade

    include source/jade/includes/section__specials.jade

    include source/jade/includes/section__goods.jade

    include source/jade/includes/section__hot-news.jade


// 全局页脚
//{template v2/views/public/global_footer}

include source/jade/includes/scripts.jade
</body>
</html>