-var production = true
if production
  - var image_path = '{$_FANWE[site_url]}/tpl/hi1626/v2/images'
else
  include ../public_inc/source/jade/head.jade
  - var image_path  = local_file_path+'/images/'
.fixed-nav-container
  .fixed-nav-mobile
    .top_hamburger
      i.icon.icon-hamburger.mobile_top_icon
    .top_title
      img(src='#{image_path}/logo-1626-white.svg')
    //.top_search_button
    //  i.icon.icon-search.mobile_top_icon
  ul.fixed-nav
    li.fixed-nav__phone
      a
        i.icon.icon-phone
        | 手机更好玩
      .drop-down-list(style="z-index: 9000;")
        .iOS-qrcode
          img(src="#{image_path}/qr-app.jpg", alt="app")
          p 扫码下载
        .os-choice
          a(href='https://itunes.apple.com/cn/app/1626-ke-jian-ji-ke-mai-chao/id668631637?mt=8&utm_source=iosapp_1626&utm_medium=app_1626&utm_campaign=app_1626' target='_blank').iTunes
            i.icon.icon-apple
            b iTunes
          a(href='http://www.1626.com/downloads/andriod' target='_blank').Android
            i.icon.icon-android
            b Android
          p 直接下载
        p.follow-us
          img(src="#{image_path}/text-nav-mobile-popup.png", alt="wechat")
        .wechat
          img(src="#{image_path}/qr-wechat.jpg", alt="wechat")
          p 你敢扫吗
        .weibo
          img(src="#{image_path}/qr-weibo.jpg", alt="weibo")
          p 潮人养成记
    li.fixed-nav__help
      a(href="/about/help.html", target="_blank") 帮助中心
      ul.drop-down-list
        li
          a(href="/about/help.html", target="_blank") 订单帮助
        li
          a(href="/about/help.html", target="_blank") 发布指引
    li.fixed-nav__avatar
      if production
        {if $_FANWE['uid'] > 0}

        span.quit-span
          a(href='/settings/psersonal.html')
            img(src="{avatar $_FANWE['uid'] s 1 $_FANWE['user']['img_thumb']}")
            |$_FANWE['user']['user_name']
          |&nbsp;|&nbsp;
          a(href="{u user/logout}" target="_blank") 退出
        {else}
        a(href="{u user/login}" target="_blank") 登录
        span |
        a(href="{u user/register}" target="_blank") 注册
        {/if}
      else
        span.quit-span
          a(href='/')
            img(src="#{image_path}/temp_footer-mag-cover.jpg")
            |jonexiu
          |&nbsp;|&nbsp;
          a(href="/") 退出
    li.fixed-nav__msg 
      a(href="/messagetip/") 消息
      span.fixed-nav__number.fixed-nav__number--blue 0
      ul.drop-down-list.right
        li.get-likes
        li.get-fans
        li.get-comments
        li.get-recomendded
        li.check-all
          a
    li.fixed-nav__flash-buy
      i.icon.icon-flashbuy
      .invisible-menu
        .cart-link
          a(href="http://www.1626buy.cn/flow/",target='_blank') 购物车
        iframe(src="http://192.168.0.231/api/get_cart.php?token=1626-cart-number&color=ffffff&size=11px" width="14px" height="14px" scrolling="no")

        .order-link
          .order-link__wrap
            span &nbsp;|&nbsp;
            a(href="http://www.1626buy.cn/user/act-order_list.html",target='_blank') 我的订单
.main-nav-container.clear
  ul.main-nav.clear
    li.main-nav__logo
      a(href='http://www.1626.com',target='_blank')
        img(src='#{image_path}/logo-1626-black.svg')
    li.main-nav__hamburger
      i.icon.icon-hamburger.mobile_top_icon
    li.main-nav__home
      a(href='http://www.1626.com',target='_blank') 首页
    li.main-nav__zixun
      a(href='http://www.1626.com/zixun/',target='_blank') 资讯
    li.main-nav__flashbuy
      a(href='http://www.1626buy.cn/flashbuy/',target='_blank') 潮闪购
    li.main-nav__c1
      a(href='http://www.1626.com/dapei/c1.html',target='_blank') 搭配
    li.main-nav__master
      a(href='http://www.1626.com/master',target='_blank') 达人
    li.main-nav__action
      i.icon.icon-list_view.mobile-view-change
      //i.icon.icon-search

  .main-nav__search
    div
      i.icon.icon-search.top_search_button
      input(type='text' id="jquery-search2" placeholder='搜一下变交街架' name="kw" maxlength='20')
      i.icon.icon-return.top_search_submit
    .tips-menu.indshare-tips
      span.tips-title
        |热门搜索
      .search-tips
  ul.main-nav--right
    li.main-nav__me
      a(href="/u/dashboard.html")
        i.icon.icon-hand
        | 我的潮品
    li.main-nav__publish
      a
        i.icon.icon-publish_solid
        | 发布
    li.main-nav__msg
      if production
        {if $_FANWE['uid'] > 0}
        span.quit-span
          a(href='/settings/psersonal.html')
            img(src="{avatar $_FANWE['uid'] s 1 $_FANWE['user']['img_thumb']}")
        {else}
        //- a(href="{u user/login}") 登录
        //- span |
        //- a(href="{u user/register}") 注册
        {/if}
      span.fixed-nav__number.fixed-nav__number--blue 0
      ul.drop-down-list
        li.get-likes
        li.get-fans
        li.get-comments
        li.get-recomendded
        li.check-all
          a
//.mobile-view-change
//  i.icon.icon-grid_view

.scroll-to-top
  i.icon.icon-rocket

script(type='text/javascript').
  $(document).ready(function () {
    init_global_header();
  });
if !production
  </body>